.availableChefs {
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  width: fit-content;

  div {
    border: yellow solid 2px;
    display: flex;
    justify-content: space-between;
  }
}
