.ChefProfile {
  margin: 10px;
  border: solid 2px gray;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  box-shadow: 5px yellow;
  // background-color: red;
  width: fit-content;
  img {
    width: 50%;
  }

  div {
    // border: solid red 4px;
    display: flex;
    flex-direction: column;
  }
}
