.Navbar {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 50px;
  }

  div {
    display: flex;
  }
}

.SideNav {
  height: 100px;
  // position: absolute;
  // left: 0;
  border: solid black 3px;
  background-color: red;
}

.Mainss {
  border: solid black 5px;
}
